<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Express App</h1>
    <p>Please stay a while</p>
    <p>Gello <%= locals.userName %></p>
    <p><img width="200"src="book.png" alt="stack of magic books"></p>

<% 
        if(locals.userName === 'Xavier') {%> </body>
            <% for(let i = 0; i < 8; i++) { %>
                <p><img width="200"src="book.png" alt="stack of magic books"></p>
<p><img width="200"src="book.png" alt="stack of magic books"></p>

            
        
<%} %>

</body>
    
</html>