<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1> Welcome to Xav's Word of the Day </h1>
        <p> WORD: <%= word %> </p>
        <p> DEFINITION: <%= definition %> </p>
        <p> SPEECH TYPE: <%= part %> </p>
    </body>

</html>